header{
    background-color:rgb(85, 75, 177);
    text-align: center;
}
#mapid {
    margin-left: auto;
    margin-right: auto;
  
 }
 footer{
     background-color: rgb(85, 75, 177);
     text-align: center;
 }

 
 